

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Dancing Script',cursive;
}

/* header */

.header{
    
height: 80px;

padding: 0 50px ;
background-color:rgb(215, 135, 148);
display: flex;
align-items: center;
justify-content: space-between;
align-content: flex-start;


}


ul {
    display: flex;
    list-style: none;
    gap: 100px;
    align-items: center;



}


.imagen{
    display: flex;
    width: 200px;
    height: 80px;
}

.carrito{
    display: flex;
    width: 50px;
    height: 50px;

}

.navlink{
    
    font-size: 25px;
    color: rgb(245, 206, 212);
    text-decoration: none;
}
























/* main */

main{
    background-color:rgb(245, 206, 212) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.portada{
    margin-top: 30px;
    padding: 30px 70px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info-portada{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.info-portada h1{
    font-size: 48px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: rgb(215, 135, 148);
}

.info-portada p{
    font-size: 25px;
    width: 70%;
    color: rgb(215, 135, 148);
}

.info-portada a{
    color: aliceblue;
    background-color:rgb(215, 135, 148) ;
    width: 120px;
    padding: 8px 0;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;

}

.foto{
    width: 400px;
    height: 500px;
}

.descripcion {
    
    padding: 20px 40px;
    width: 100%;
    max-width: 1200px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: rgb(245, 206, 212);
    font-size: 25px;
    



}

.descripcion p{
    color: rgb(215, 135, 148);
    justify-content: center;
    align-items: center;
}


.img{
    width: 100%;
    height: 100px;
    padding: 0 50px;
    display: flex;
    justify-content: flex-end;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.img__logo{
   
   
    width: 50x;
    height: 50px;
}


/* section-cards */

.cards{
    margin: 20px;
    padding: 20px;
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    color:rgb(201, 130, 171) ;
}

.info{
    height: auto;
    width: 1200px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
   
    
    

    
    
}




.info-cards-container{
    height: auto;
    width: 1200px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}

.info-cards{
    height: 300px;
    width: 300px;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    background-color: rgb(238, 185, 218);
    
}
  


.imagen-cards{
    height: 50px;
    width: 50px;
}


.info-cards p{
    text-align: center;

}



/* section de contacto */ 

.contacto{
    width: 1200px;
    height: auto;
    padding: 30px;
    margin: 30px;
    display: flex;
    flex-direction: row;

}

.info-contacto-container{
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.contacto1{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


.contacto1 ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

.contacto-info{
    display: flex;

}


.imagen-contacto{
    width: 20px;
    height: 20px;
    margin: 0px 8px;
}

.iconos-redes{
    width: 30px;
    height: 30px;
}

.redes{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}




/* footer */

footer{
    width: auto;
    height: 100px;
    background-color:rgb(245, 206, 212); 
    display: flex;
    justify-content: center;

}
